/* templatemo_style.css - Versão Original Organizada
    CRF Info - Restauração de Layout
*/

body {
    margin: 0px;
    padding: 0px;
    color: #666;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.7em; 
    background: url(images/templatemo_body.jpg) top repeat-x;
    background-color: #dbdbdd;
}

#templatemo_body_wrapper, #templatemo_wrapper {
    width: 100%;
    background: url(images/templatemo_header.jpg) center top no-repeat;
}

#templatemo_wrapper {
    width: 984px;
    margin: 0 auto;
}

#tempaltemo_header { 
    position: relative;
    width: 984px;
    height: 325px; /* Altura original que impede o conteúdo de subir */
    background: url(images/templatemo_header.jpg) no-repeat center top;
}

#header_icon {
    position: absolute;
    top: 130px;
    left: 660px;
    width: 220px;
    height: 197px;
    background: url(images/monitor_icon.png) no-repeat;
}

#header_content {
    float: left;
    margin: 130px 0 0 90px;
    width: 460px;
}

#header_content p {
    font-size: 18px;
    color: #fff; /* Restaura o texto branco no topo */
    line-height: 1.5em;
}

/* Quadro de Conteúdo Branco */
#templatemo_main_top {
    width: 984px;
    height: 30px;
    background: url(images/templatemo_content_top.png) no-repeat;
    clear: both;
}

#templatemo_main {
    position: relative;
    width: 900px;
    padding: 10px 42px;
    background: url(images/templatemo_content_middle.png) repeat-y;
}

#templatemo_main_bottom {
    width: 984px;
    height: 30px;
    background: url(images/templatemo_content_bottom.png) no-repeat;
}

/* Botão Blog */
a.detail {
    display: block;
    width: 128px;
    height: 51px;
    padding: 9px 0 0 0;
    text-align: center;
    color: #ffc;
    font-size: 18px;
    background: url(images/templatemo_button_01.png) no-repeat;
    text-decoration: none;
    float: right;
}

/* Rodapé */
#templatemo_footer_wrapper {
    width: 100%;
    background-color: #252323;
    padding: 20px 0;
    clear: both;
}

#templatemo_footer {
    width: 984px;
    margin: 0 auto;
    text-align: center;
    color: #999;
}
