/* Correção de Caminhos e Layout CRF INFO */

body {
    background: url(images/templatemo_body.jpg) top repeat-x #dbdbdd;
    margin: 0;
    padding: 0;
}

#tempaltemo_header { 
    position: relative;
    width: 984px;
    height: 325px; /* Altura original garantida */
    margin: 0 auto;
    background: url(images/templatemo_header.jpg) no-repeat center top;
}

#header_icon {
    position: absolute;
    top: 130px;
    left: 660px;
    width: 220px;
    height: 197px;
    background: url(images/monitor_icon.png) no-repeat;
    z-index: 10;
}

#header_content {
    float: left;
    margin: 130px 0 0 90px;
    width: 460px;
    color: #fff;
}

/* Garante que o conteúdo branco não suba para o topo */
#templatemo_main_top {
    clear: both;
    width: 984px;
    height: 30px;
    margin: 0 auto;
    background: url(images/templatemo_content_top.png) no-repeat;
}

#templatemo_main {
    width: 900px;
    margin: 0 auto;
    padding: 10px 42px;
    background: url(images/templatemo_content_middle.png) repeat-y;
}
