/* ESTILO DO TOPO - TEXTO BRANCO E MAIOR */
#header_content p {
    font-size: 18px;         /* Tamanho maior conforme original */
    color: #FFFFFF;         /* Branco puro */
    line-height: 1.7em;
    margin: 10px 0 0 0;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5); /* Sombra leve para ler melhor no fundo verde */
}

/* GARANTE QUE O BOTÃO BLOG NÃO SEJA AFETADO PELO TEXTO BRANCO */
a.detail {
    display: block;
    width: 128px;
    height: 51px;
    padding-top: 9px;
    text-align: center;
    color: #ffc;            /* Cor amarelada original do botão */
    font-size: 18px;
    background: url(images/templatemo_button_01.png) no-repeat;
    text-decoration: none;
    float: right;
}

/* POSICIONAMENTO DO CONTEÚDO DO TOPO */
#header_content {
    float: left;
    margin: 120px 0 0 90px; /* Ajuste para o texto não bater no logo */
    width: 460px;
}
