/*
Credit: http://www.templatemo.com
*/

body {
    margin: 0px;
    padding: 0px;
    color: #666;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.7em; 
    background: url(images/templatemo_body.jpg);
    background-color: #dbdbdd;
    background-position: top;
    background-repeat: repeat-x;
}

a.detail {
    display: block;
    width: 128px;
    height: 51px;
    padding: 9px 0 0 0;
    text-align: center;
    color: #ffc;
    font-size: 18px;
    background: url(images/templatemo_button_01.png);
}

.tmo_list li {
    background: transparent url(images/templatemo_list.png) no-repeat scroll 0 3px;
}

#templatemo_body_wrapper, #templatemo_wrapper, #tempaltemo_header {
    background: url(images/templatemo_header.jpg) no-repeat center top;
}

#header_icon {
    position: absolute;
    top: 130px;
    left: 660px;
    width: 220px;
    height: 197px;
    background: url(images/monitor_icon.png);
}

#templatemo_main_top { background: url(images/templatemo_content_top.png) no-repeat; }
#templatemo_main_bottom { background: url(images/templatemo_content_bottom.png) no-repeat; }
#templatemo_main { background: url(images/templatemo_content_middle.png) repeat-y; }

/* Outros elementos de fundo */
#main_top { background: url(images/templatemo_sidebar_top.jpg) no-repeat; }
#main_bottom { background: url(images/templatemo_sidebar_bottom.jpg) no-repeat; }
.sb_title { background: url(images/templatemo_sidebar_box_top.jpg) no-repeat; }
.sb_content { background: url(images/templatemo_sidebar_box_middle.jpg) repeat-y; }
.sb_bottom { background: url(images/templatemo_sidebar_box_bottom.jpg) no-repeat; }
#templatemo_menu ul li { background: url(images/templatemo_menu_divider.jpg) left bottom no-repeat; }
#templatemo_menu ul li a:hover { background: url(images/templatemo_menu_hover.png) left top no-repeat; }
